@import url(./Components/Fonts/fonts.css);

*{
  font-family: "Olly";
}
.main-app{
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
}

.container{
  max-width: 1320px;
  width: auto;
  overflow: hidden;
}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
