@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: bannerhomebtn;
}

::-webkit-scrollbar {
    width: 0px;
}

body > iframe {
    display: none;
}

@font-face {
    font-family: bannerheaderfont;
    src: url("./Components/Fonts/compressextbold.otf");
}
@font-face {
    font-family: bannerhomebtn;
    src: url("./Components/Fonts/homebannershop6.otf");
}
@font-face {
    font-family: Snacksgifheaderfont;
    src: url("./Components/Fonts/Snacksgifheader.otf");
}
@font-face {
    font-family: ReviewedProductHeaderfont;
    src: url("./Components/Fonts/ReviewedProductheader2.otf");
}
@font-face {
    font-family: barcontenttext;
    src: url("./Components/Fonts/Demo_Fonts/Fontspring-DEMO-rocgroteskcomp-medium.otf");
}

@font-face {
    font-family: rocgrotesk-light;
    src: url("./Components/Fonts/roc-grotesk-new-400.otf");
}

@font-face {
    font-family: rocgrotesk-bold;
    src: url("./Components/Fonts/Demo_Fonts/Fontspring-DEMO-rocgrotesk-bold.otf");
}

@font-face {
    font-family: rocgrotesk-extra-bold;
    src: url("./Components/Fonts/Demo_Fonts/Fontspring-DEMO-rocgrotesk-extrabold.otf");
}

@font-face {
    font-family: rocgrotesk-heavy;
    src: url("./Components/Fonts/Demo_Fonts/Fontspring-DEMO-rocgrotesk-heavy.otf");
}

.ReactCollapse--collapse {
    transition: height 500ms;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
