@font-face{
    font-family: 'Olly-thin';
    src: url('./homebannershop6.otf');
}
@font-face{
    font-family: 'Olly-normal';
    src: url('./homebannershop2.otf');
}
@font-face{
    font-family: 'Olly-bold';
    src: url('./homebannershop.otf');
}
