.Profile-section {
    color: #4c4294;
}
.ProfilesubHeading {
    color: #4c4294;
    font-family: Snacksgifheaderfont !important;
    font-size: 2rem;
    letter-spacing: 1.5px;
}
.ProfileText{
    font-family: bannerhomebtn;
    font-weight: bold;
}

.ProfileInput {
    width: 35%;
    font-family: bannerhomebtn;
    border: 3px solid #4c4294;
    color: #4c4294;
    font-weight: bold;
}
.Profilebtn{
    border: 3px solid #4c4294;
    color: #4c4294;
    width: 12%;
    border-radius: 2rem;
    font-family: bannerhomebtn;
    font-weight: bold;
    transition: all 0.5s;
    background-color: white;
}
.Profilebtn:hover{
    border-radius: 50%;
    color: white;
    background-color: #4c4294;
}