.sec {
    width: 100%;
    height: 100%;

    .Banner-section {
        background-color: #412f59;
        color: #c8e0d4;
    }

    .Banner-Heading {
        font-size: 110px;
        font-family: Snacksgifheaderfont;
        line-height: 88px;    
    }
    .Banner-subHeading {
        font-family: Snacksgifheaderfont;
        letter-spacing: 2px;
        margin-top: 30%;
    }

    .Banner-content {
        font-family: bannerhomebtn;
        font-size: 20px;
        padding-bottom: 650px;
    }
}

.HerO-section {
    width: 100%;
    height: 100%;
    background-color: #b97dad;
    color: white;
    position: relative;
}

.HerO-Heading {
    margin-top: 25vh;
    font-size: 215px;
    line-height: 165px;
    font-family: bannerheaderfont;
}

.HerO-section p {
    font-family: bannerhomebtn;
    width: 45rem;
}

.HerOimage1 {
    width: 25rem;
    position: absolute;
    top: 25.1rem;
    left: 17.5rem;
}

.HerOimage2 {
    width: 25rem;
    position: absolute;
    top: 19.5rem;
    right: 17rem;
}

@media(max-width:1000px) {}