.email-verification-heading{
    color: #4c4294!important;
    font-size: 170px;
    line-height: 127px;
    margin: 100px auto!important;
    text-transform: uppercase;
    font-family: bannerheaderfont;
}