.barbutton {
    color: #4c4294 !important;
    font-family: barcontenttext;
    font-weight: 500;
    font-size: larger;
    background-color: white;
    padding: 8px 15px;
    border: 3px solid white;
}
.barbutton:focus {
    border-color: #4c4294;
    border-radius: 15%;
}
.barcontent {
    width: 100%;
}

.Shop-banner {
    width: 100%;
    display: flex;
}

.Shopbanner-left {
    width: 50%;
    border-bottom: 3px solid #4c4294;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;
}

.Shopbanner-header {
    font-size: 110px;
    color: #4c4294;
    font-weight: bold;
    font-family: Snacksgifheaderfont;
    line-height: 5.5rem;
    text-transform: uppercase;
}

.Shopbanner-para {
    width: 65%;
    font-size: 20px;
    color: #4c4294;
    font-weight: 500;
    font-family: bannerhomebtn;
}

.ShopBiconsmain {
    width: 65% !important;
}

.SBicon {
    width: 100%;
    /* background-color: yellow; */
}
.OlivesSection {
    background-color: #c8e0d4;
    color: #412f59 !important;
}

.Shopbanner-right {
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.shopbannerimge {
    width: 100%;
    height: 100%;
}
.SPTBimg {
    width: 100%;
}

/* Shop Products */
.ShopProducts-section {
    color: #4c4294;
}

.ShopProductsheader {
    font-size: 28px;
    font-family: Snacksgifheaderfont;
    font-weight: 800;
    text-transform: uppercase;
}
.ShopProducts-imge {
    width: 21vw;
    height: 25vw;
    position: relative;
    overflow: hidden;
}
.ShopProduct-img1 {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.ShopProductbutton {
    margin: 20px 0 !important;
}

.SVPbtn {
    text-decoration: none;
    color: #4c4294;
    border: 3px solid #4c4294;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 20px !important;
    font-family: Snacksgifheaderfont;
    font-weight: bolder !important;
    transition: all 0.5s;
    letter-spacing: 1px;
}

.SVPbtn:hover {
    background-color: #4c4294;
    color: white !important;
    border-radius: 50%;
}
/* Snacks-Bundle-section */
.Snacks-Bundle-section {
    width: 100%;
    background-color: #e2c7d6;
    padding-bottom: 80px;
    color: #412f59;
}
.SnacksBundleheader {
    font-size: 110px;
    font-family: Snacksgifheaderfont;
}
/* Merch Section */
.Merch-section {
    color: #4c4294;
}
.Merchheader {
    font-size: 110px;
    font-family: Snacksgifheaderfont;
}
/* View Product Section */
@media (max-width: 1000px) {
    .Shop-banner {
        flex-direction: column;
    }
    .Shopbanner-left {
        width: 100%;
        margin: 3rem auto !important;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 2rem;
    }
    .Shopbanner-header {
        margin: 3rem auto !important;
        text-align: center;
        line-height: 5.5rem;
        font-size: 95px;
    }
    .Shopbanner-para {
        width: 90%;
        margin: 2rem auto !important;
    }
    .ShopBiconsmain {
        margin: 3rem auto !important;
    }
    .maindropdown {
        overflow: hidden;
        position: relative;
    }
    .Dropmenubox {
        width: 100%;
        text-align: center;
        border: 3px solid #412f59;
        position: absolute;
        margin: 0 auto;
    }
    .barbutton {
        width: 80%;
        font-size: larger;
        border-radius: 0 !important;
    }
}
