/* Main Hero Section */
.main-hero {
    width: 100%;
    min-height: 730px;
    background-color: #61439b;
    align-items: center;
    text-align: center;
    position: relative;

    .left-img img {
        width: auto;
        max-width: 511px;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .right-img img {
        width: auto;
        max-width: 368px;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .hero-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 8%;
        position: relative;
    }

    .content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 9;
    }

    .main-heading {
        width: 70vw;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12vw;
        line-height: 10vw;
        font-family: "Olly-Condensed-bold";
        text-transform: uppercase;
        color: #fff;
    }

    .desc {
        width: 45vw;
        color: #fff;
        font-family: "Olly-thin";
        font-size: 20px;
        letter-spacing: 0.04rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 50px;
    }

    .embed-text {
        color: #fff;
        cursor: pointer;
        font-family: "Olly-thin";
        font-size: 20px;
        font-weight: 600;
        width: 100%;
    }

    .media-icon {
        padding: 2px;
        border-radius: 50%;
        text-align: center;
        background-color: #281057;
        height: 3px;
        width: 2px;
        padding: 0.25rem 0.38rem;
        padding-bottom: 0.5rem;
        padding-left: 0.47rem;
        margin-right: 0.4rem;
    }

    .embed-popup {
        position: fixed;
        z-index: 999999;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .embed-frame {
        width: 1280px;
    }
}
.row {
    --bs-gutter-x: auto !important;
}

/* Media Queries */

@media (max-width: 768px) {
    .main-hero {
        min-height: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;

        .right-img {
            display: none;
        }

        .hero-content {
            margin-top: 0% !important;
            padding-top: 8rem;
        }
        .content {
            width: 100%;
            position: relative !important;
        }
        .main-heading {
            font-size: 13vw;
            margin: 0;
            padding: 0.5rem 1.5rem;
        }

        .desc {
            width: 95%;
            font-size: 0.9rem;
            margin-bottom: 0;
            padding: 0;
            padding: 0.5rem 1.5rem;
        }

        .left-img img {
            width: auto;
            max-width: 351px;
            max-height: 400px;
            position: relative;
            object-position: top;
        }
        .embed-text {
            font-size: 18px;
            padding: 10px 0px;
        }
    }
}

@media (min-width: 768px) and (max-width: 997px) {
    /* Main Hero Section */
    .main-hero {
        min-height: 750px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;

        .right-img {
            display: none;
        }

        .hero-content {
            margin-top: 0% !important;
            padding-top: 19vw;
        }
        .content {
            width: 86vw;
            position: relative !important;
        }
        .main-heading {
            font-size: 12vw;
            margin: 0;
        }

        .desc {
            width: 100%;
            font-size: 2.5vw;
            margin-bottom: 0;
            padding: 1.5rem 0rem;
        }

        .left-img img {
            width: auto;
            max-width: 351px;
            max-height: 400px;
            position: relative;
            object-position: top;
        }
        .embed-text {
            font-size: 18px;
            padding: 10px 0px;
        }
    }
}

@media (min-width: 997px) and (max-width: 1024px) {
    .main-hero {
        min-height: 750px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;

        .right-img {
            display: none;
        }

        .hero-content {
            margin-top: 0% !important;
            padding-top: 180px;
        }
        .content {
            position: relative !important;
            width: 90vw;
        }
        .main-heading {
            font-size: 7.5rem;
            margin: 0;
            padding: 0;
        }

        .desc {
            width: 85vw;
            font-size: 20px;
            margin-bottom: 0;
            padding: 1.5rem 0rem;
        }

        .left-img img {
            width: auto;
            max-width: 351px;
            max-height: 400px;
            position: relative;
            object-position: top;
        }
        .embed-text {
            font-size: 18px;
            padding: 10px 0px;
        }
    }
}
