.main-snack-banner {
    width: 100%;
    background-color: #e2c7d6;
    max-height: 700px;
    height: auto;
    overflow: hidden;

    .heading {
        font-size: 7.4rem;
        font-family: "Olly-Condensed-bold";
        line-height: 6rem;
        color: #412f59;

    }

    .desc {
        font-family: "Olly-thin";
        font-size: 20px;
        margin-top: 20px;
        color: #412f59 !important;
        opacity: 0.9;
        text-align: left;
    }

    button {
        text-decoration: none;
        color: #4c4294;
        border: 3px solid #4c4294;
        border-radius: 20px;
        padding: 10px 30px;
        font-size: 20px !important;
        font-family: Snacksgifheaderfont;
        font-weight: bolder !important;
        transition: all 0.5s;
        letter-spacing: 1px;
    }
}

.right-container{
    height: 100%;
}

.right-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.snake-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-container {
    height: 100%;
    padding-left: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 80px;
}

@media screen and (max-width:767px) {
    .snake-banner{
        flex-direction: column;
    }
    .main-snack-banner{
        overflow: visible;
        max-height: 100%;
    }
    .left-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 50px 30px !important;
    }
    .left-container .heading {
        font-size: 5rem !important;
        font-family: "Olly-Condensed-bold";
        line-height: 6rem;
        color: #412f59;
        line-height: 65px;
    }
    .left-container .desc{
        text-align: left;
        padding-bottom: 0;
    }
    .right-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .left-container .mobile-image{
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .olly-btn{
        width: 100%;
    }
}