.ProgressBartext{
    color:#412f59;
}
.progress, .progress-stacked {
    --bs-progress-bar-bg: #412f59;
    --bs-progress-height: 0.3rem;
}
.CartmainHeader{
    -webkit-box-shadow: 0px 5px 5px -2px rgba(199, 191, 199, 1);
    -moz-box-shadow: 0px 5px 5px -2px rgba(199, 191, 199, 1);
    box-shadow: 0px 5px 5px -2px rgba(199, 191, 199, 1);
}
.Cartheader {
    font-size: 20px;
    font-weight: bolder;
    color: #4c4294;
    margin: 0 auto;
   
}

.Cartgrid {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    column-gap: 1rem;
}

.cartproductimg {
    width: 7vw;
}

.cartproductimg img {
    width: 100%;
    border-radius: 15%;
}

.cartProductremaing {
    display: grid;

}

.cartRemainpart1 {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.cartProductQuantity {
    display: grid;
    grid-template-columns: .14fr .1fr .1fr;
}

.cartProductQuantity input {
    width: 100%;
}

.cartProductQuantity input:focus {
    outline: none;
}

.cartRemainPart2 {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.counterbtn {
    padding: 0;
    margin: 0;
    width: 2vw;
    background-color: transparent;
    border: none;
    color: blue;
}

.CartOrder-section {
    margin-top: 5rem;
    -webkit-box-shadow: 0px -7px 5px -6px rgba(199, 191, 199, 1);
    -moz-box-shadow: 0px -7px 5px -6px rgba(199, 191, 199, 1);
    box-shadow: 0px -7px 5px -6px rgba(199, 191, 199, 1);
}

.Cartbtn {
    margin: 1rem auto;
}

.CartOrder-details {
    display: grid;
    grid-template-columns: 5.8fr 1fr;
    font-size: 20px;
    color: #4c4294;
    font-weight: bolder;
}

.Checkoutbutton {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #4c4294;
    border: 3px solid #4c4294;
    border-radius: 20px;
    font-size: 20px;
    padding: 8px 0;
    font-family: bannerhomebtn;
    font-weight: bolder !important;
    transition: .4s all;
}

.Checkoutbutton:hover {
    border-radius: 50%;
}