.CustomerReview-section {
    background-color: #e2c7d6;
    color: #412f59;
    padding: 4vmax 10vmax;
}
.Customer-review-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* background-color: aquamarine; */
}

.Customer-review-container > h1 {
    font-family: rocgrotesk-extra-bold;
    /* font-size: max(6.5vmax, 3rem); */
    font-size: 5rem;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.reviewAccordian {
    margin: 0 auto;
    width: 55%;
    min-width: 45rem;
}
.ReviewInfo {
    display: grid;
    grid-template-columns: 10.5rem 20rem auto;
}
.totalReview {
    grid-column: 1/2;
}
.reviewCategory {
    grid-column: 2/3;
    border-left: 3px solid #412f59;
    border-right: 3px solid #412f59;
    font-family: rocgrotesk-light;
}
.writeReview {
    grid-column: 3/-1;
}

.reviewaccordionbtn {
    border: 0.1rem solid #412f59;
    color: #412f59;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    float: right;
    font-family: rocgrotesk-light;
}
.reviewSubCategory {
    display: grid;
    padding: 0.5rem 0.8rem;
    grid-template-columns: 4fr 3fr 2fr;
    column-gap: 0.5rem;
    align-items: center;
    font-family: rocgrotesk-light;
}
.reviewForm {
    background-color: #e2c7d6;
    font-family: rocgrotesk-light;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.reviewForm p {
    font-weight: 600;
    font-size: 1rem;
    font-family: "rocgrotesk-light";
    margin: 0;
    text-align: justify;
    letter-spacing: 0.03rem;
    word-spacing: 0.7px;

    a {
        color: blue;
        font-weight: 600;
        font-size: 1rem;
        font-family: "rocgrotesk-light";
        letter-spacing: 0.03rem;
        word-spacing: 0.7px;
    }
}

.reviewInputs {
    color: #412f59;
    background-color: transparent;
    margin: 0;
}

.reviewInputs span {
    color: #412f59;
    background-color: transparent;

    font-weight: 600;
    font-size: 1rem;
    font-family: "rocgrotesk-light";
    letter-spacing: 0.03rem;
    word-spacing: 0.7px;
}

.reviewlable {
    color: #412f59;
    font-family: rocgrotesk-light;
}
#namedisplayed {
    border: none;
    color: #412f59;
    background-color: #e2c7d6;
    outline: none;
    text-decoration: underline;
    font-family: rocgrotesk-light;
}
#namedisplayed option {
    font-family: rocgrotesk-light;
}
.reviewInput,
.reviewInput:focus {
    background-color: transparent;
    outline: none !important;
    border: 2px solid #412f59;
    box-shadow: none;
    padding: 0.6rem 1.3rem;
    margin: 0;
}

::placeholder {
    font-family: rocgrotesk-light;
}
.starbtn {
    color: #412f59;
    background-color: transparent;
    padding: 0;
    border: none;
}
.reviewsubmitbtn {
    width: fit-content;
    border: 2px solid #412f59;
    color: #412f59;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    margin-bottom: 2rem;
    transition: all 0.5s;
}
.reviewsubmitbtn:hover {
    background-color: #412f59;
    color: #e2c7d6;
    border-radius: 50%;
}
.review-main-container {
    font-family: rocgrotesk-light;
}
.reviewTitle span {
    font-family: rocgrotesk-light;
}
.activeVerified {
    background-color: #412f59;
    color: #e2c7d6;
    padding: 0.4rem;
    font-size: small;
    border-radius: 0.2rem;
}
.shopVerified {
    background-color: rgb(248, 219, 165);
    font-size: small;
    padding: 0.4rem;
    border: 1px solid lightgray;
    border-radius: 0.2rem;
}
/* .reviewedStarfilled{
    color: #412f59;
    background-color: #412f59;
}
.reviewedStarBlank{
    color: #412f59;
    background-color: #e2c7d6;
} */
.reviewContent p {
    font-family: rocgrotesk-light;
}
.page-link {
    color: #412f59;
    background-color: #e2c7d6;
    border-color: transparent;
    --bs-pagination-active-color: #e2c7d6;
    --bs-pagination-active-bg: #412f59;
    --bs-pagination-active-border-color: var(--bs-pagination-active-bg);
}
.page-link:hover {
    color: #e2c7d6;
    background-color: #412f59;
    border-color: transparent;
    --bs-pagination-hover-color: var(--bs-pagination-active-bg);
    --bs-pagination-hover-bg: var(--bs-pagination-active-bg);
    --bs-pagination-hover-border-color: transparent;
    --bs-pagination-focus-color: var(--bs-pagination-active-color);
    --bs-pagination-focus-bg: var(--bs-pagination-active-bg);
}

.ReactCollapse--content {
    background-color: transparent;
}

/* input[placeholder="rate us"] {
    background-color: transparent;
    padding: 0.5rem 1rem;
    width: 100%;
} */

/* input {
    background-color: transparent;
} */
