.CustomerReview-section{
    background-color: #e2c7d6;
    color:#412f59;
}
.CR-header{
    font-family : Snacksgifheaderfont;
    font-size: 110px;
}
.reviewAccordian{
    margin: 0 auto;
    width: 50%;
}
.ReviewInfo{
    display: grid;
    grid-template-columns: 10.5rem 20rem auto;  
}
.totalReview{
    grid-column: 1/2;
}
.reviewCategory{
    grid-column: 2/3;
    border-left: 3px solid #412f59;
    border-right: 3px solid #412f59;
}
.writeReview{
    grid-column: 3/-1;

}

.reviewaccordionbtn{
    border: 3px solid #412f59;
    color: #412f59;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border-radius: 20px;
    padding: .5rem 1.5rem;
    float: right;
}
.reviewSubCategory{
    display: grid;
    padding: .5rem .8rem;
    grid-template-columns: 4fr 3fr 2fr;
    column-gap: .5rem;
    align-items: center;
   
}
.reviewForm{
    background-color: #e2c7d6;
}
.reviewInputs{
    color: #412f59;
    margin-top: 1.5rem;
}
.reviewlable{
    color: #412f59;
}
#namedisplayed{
    border: none;
    color: #412f59;
    background-color: #e2c7d6;
    outline: none;
    text-decoration: underline;
}
.reviewInput, .reviewInput:focus{
    background-color: transparent;
    outline: none!important;
    border: 2px solid #412f59;  
    box-shadow: none;
}
.starbtn{
    color: #412f59;
    background-color: transparent;
    padding: 0;
    border: none;
}
.reviewsubmitbtn{
   
    border: 3px solid #412f59;
    color: #412f59;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
    border-radius: 20px;
    padding: .5rem 2rem;
    transition: all 0.5s;
}
.reviewsubmitbtn:hover{
    background-color: #412f59;
    color: #e2c7d6;
    border-radius: 50%;
}


