.main-customer-review{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #e2c7d6;
    height: 100vh;
    
   
}
.customer-slider{
    max-width: 100vw;
    width: 100%;
}

.customer-slide{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.customer-content{
    width: 100%;
    padding: 0 10vw;
    display: flex;
    align-items: center;
}
.customer-slide .customer-image{
    
    width: 50%;
    height: 90%; 
    background-position: center;
    background-size: cover;  
}

.customer-image img{
    max-width: 550px;
    width: 80%;
    transform: rotate(20deg);
    transition: 0.5s transform ease;
}
.active-animation{
    transform: rotate(0deg) !important;
}

.active-animation2{
    transform: rotate(-10deg);
}


@keyframes imgRotate {
    0%{
        transform: rotate(10deg) !important;
    }
    100%{
        transform: rotate(0deg) !important;
    }
}

.customer-slide .review{
    width: 50%;
    text-align: center;
}
.review p{
    font-size: 4.5rem;
    line-height: 60px;
    font-family: "Olly-bold";
    color: #4c4294;
}

.customer-name{
    font-size: 15px;
    font-family: "Olly-normal";
    color: #4c4294;

}

.Stockist-main{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
@media(max-width:450px){
    .customer-slide .customer-image{
        margin: 5vh auto;
        padding: 0;
        width: 100%;
    }
    .customer-slide .review{
        margin: 5vh auto;
        width: 100%;
        padding-bottom: 5vh;
    }
    .review p{
        font-size: 10vw;
        line-height: 8vw;
    }
}
@media (max-width:767px){

    .customer-content{
        flex-direction: column;
        justify-content: center;
    }
    .customer-slide .customer-image{
        margin: 5vh auto;
        padding: 0;
        width: 65%;
    }
    .customer-image img{
        width: 100%;
        transform: none;
        transition: none;
    }
    .customer-slide .review{
        margin: 5vh auto;
        width: 100%;
        padding-bottom: 5vh;
    }
    .review p{
        font-size: 5vw;
        line-height: 4vw;
    }
    .Stockist-main{
        width: 100%;
        justify-content: left;
        flex-wrap: wrap;
    }
    .Stockist-content{
        padding: 0 2vw;
    }
    
}