.theme-3 {
    width: 100%;
    height: 110vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 2.5rem;
    background-color: #c8e0d4;
}

.theme3-img {
    grid-column: 1/2;
    grid-row: 1/1;

    position: relative;
    width: 100%;
    height: 110vh;
}

.theme3-img img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.theme-3-content {
    width: 100%;
    grid-column: 2/-1;
    grid-row: 1/1;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding-right: 1rem;
}

.theme3-heading {
    font-family: rocgrotesk-extra-bold;
    font-size: 5rem;
    line-height: 4.6rem;
    color: #412f59;
}

.theme3-desc {
    font-family: rocgrotesk-light;

    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 0.12px;
    color: #412f59;
    text-align: justify;
}

.theme3-btn {
    width: max-content;
    padding: 0.8rem 2.5rem;
    border: 2px solid white;
    border-radius: 1.5rem;
    color: white;
    text-decoration: none;
}

@media (max-width: 534px) {
    .theme-3 {
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 1rem;
    }

    .theme3-img {
        width: 100%;
        height: 100%;
    }

    .theme3-heading {
        text-align: center;
        font-weight: 800;
        font-size: 1.8rem;
        line-height: 2.4rem;
        padding-top: 1rem;
    }

    .theme3-desc {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }

    .theme-3-content {
        padding: 0rem 1rem;
        gap: 0rem;
    }
}

@media (min-width: 534px) and (max-width: 640px) {
    .theme-3 {
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 2rem;
    }

    .theme3-img {
        width: 100%;
        height: 100%;
    }

    .theme3-heading {
        text-align: center;
        font-size: 2.6rem;
        line-height: 3rem;
        padding-top: 1rem;
    }

    .theme3-desc {
        font-size: 1rem;
        line-height: 1.8rem;
        font-weight: 600;
    }

    .theme-3-content {
        padding: 0rem 6vw;
        gap: 1rem;
    }
}
@media (min-width: 640px) and (max-width: 768px) {
    .theme-3 {
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-bottom: 4rem;
    }

    .theme3-img {
        width: 100%;
        height: 100%;
    }

    .theme3-heading {
        text-align: center;
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .theme3-desc {
        font-size: 1.2rem;
        line-height: 2rem;
        font-weight: 600;
    }

    .theme-3-content {
        padding: 0rem 6vw;
    }
}
@media (min-width: 768px) and(max-width: 990px) {
    .theme-3 {
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-bottom: 4rem;
    }

    .theme3-img {
        width: 100%;
        height: 100%;
    }

    .theme3-heading {
        text-align: center;
        font-size: 3.8rem;
        line-height: 4.5rem;
    }

    .theme3-desc {
        font-size: 1.2rem;
        line-height: 2rem;
        font-weight: 600;
    }

    .theme-3-content {
        padding: 0rem 10vw;
    }
}

@media (min-width: 990px) and (max-width: 1024px) {
    .theme-3 {
        height: 90vh;
        gap: 1.5rem;
    }

    .theme3-img {
        height: 90vh;
    }

    .theme3-heading {
        font-size: 3.4rem;
        line-height: 3.2rem;
    }

    .theme3-desc {
        font-size: 1.1rem;
        line-height: 30px;
        font-weight: 600;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .theme3-heading {
        font-size: 4.5rem;
    }

    .theme3-desc {
        font-size: 1.25rem;
        line-height: 30px;
        font-weight: 600;
    }
}
