.LoginPage{
    width: 100%;
}
.LoginHeader{
    width: 100%;
}
.LoginHeading{
    color: #4c4294!important;
    font-size: 170px;
    line-height: 127px;
    margin: 100px auto!important;
    text-transform: uppercase;
    font-family: bannerheaderfont;
}
.loginform{
    margin: 50px 0 80px 0!important;
}
.logininput{
    margin: 10px 0!important;
    width: 30vw;
    height: 7vh;
    border: 3px solid #4c4294;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
}
.signinbtn{
    color: #4c4294;
    background-color: white;
    border: 3px solid #4c4294;
    border-radius: 20px;
    font-size: 20px;
    padding: 8px 30px;
    font-family: bannerhomebtn;
    font-weight: bolder!important;
    transition: .4s all;
}
.signinbtn:hover{
    border-radius: 50%;
    color: white;
    background-color: #4c4294;
}
.mstext{
    font-size: 15px;
    color: #4c4294;
    text-decoration: none;
    font-weight: 500;
}
.forgotpasswordtext{
    padding: 8px 30px;
    background-color: #4c4294;
    border: 3px solid #4c4294;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-family: bannerhomebtn;
    font-weight: 700;
    transition: .4s all;
}
.forgotpasswordtext:hover{
    border-radius: 50%;
}
.createacctext{
    color: #4c4294;
    font-family: bannerhomebtn;
    font-weight: 700;
}
.backtologintext{
    padding: 10px 30px;
    background-color: #4c4294;
    border: 3px solid #4c4294;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-family: bannerhomebtn;
    font-weight: 700;
    transition: .4s all;
}
.backtologintext:hover{
    border-radius: 50%;
}
.googleSignUp{
    margin: 20px 0px !important;
}