.View-Products-section {
    padding: 8rem 0;
    background-color: rgb(244, 188, 199);
}

.view-product-info {
    /* background-color: rgb(187, 223, 225); */
}

.VPCaursel {
    background-color: rgb(194, 191, 191);

    width: 53%;
    /* height: 90% !important; */
    position: sticky;
    top: 0;
    overflow: hidden;
}

.view-product-swipper-img {
    background-color: #16bfbf;
    width: 95%;
    height: 80vh;
    margin: 0 auto;
    border-radius: 1rem;
    overflow: hidden;
}

.vpcarouselimages {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.swiper-button-next {
    background-color: transparent;
    color: #412f59;
}
.swiper-button-prev {
    background-color: transparent;
    color: #412f59;
}

.vpslider-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vpslide-logos {
    width: 90%;
    height: 100%;
    display: flex;
    gap: 1vw;
    justify-content: space-evenly;
    align-items: center;
}

.vpslide-logos-fix-div {
    width: 8vmax;
    height: 8.5vmax;
}

.vpslide-logos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(1);
    opacity: 0.4;
    background-color: #4c4294;
}

.VPRight {
    background-color: #16bfbf;

    position: sticky;
    color: #4c4294;
    width: 47%;
    padding: 4rem 0.5rem;
}

.view-product-text h1 {
    font-size: 4.5rem;
    line-height: 4.5rem !important;
    letter-spacing: 0.06rem !important;
    font-family: rocgrotesk-extra-bold;
}

.view-product-text p {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
    font-family: rocgrotesk-light;
    text-transform: uppercase;
}

.VPreviws {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}

.VPreviws .stars {
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}

.VPreviws .reviews {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4rem;

    font-family: rocgrotesk-light;
    font-weight: 600;
    letter-spacing: 0.04rem;
}

.VPselect-size {
    display: flex;
    flex-direction: column;
    background-color: black;
    column-gap: 0.3rem;
    margin: 1rem 0rem;
}

.vpselect-size-box {
    width: 9rem;
    height: 5rem;
    border: none;
    color: #4c4294;
    border-radius: 10px;
    font-family: rocgrotesk-light;
    font-weight: 600;
}
.vpselect-size-box-focus {
    border: 3px solid #4c4294;
    background-color: white;
}
.select-size-header {
    margin: 0;
    font-size: 15px;
    font-family: bannerhomebtn;
}

.PriceText {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5vh 1vw;
    border-radius: 0.5vw;
    background-color: rgb(235, 235, 245);
}
.PriceMain {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.PriceMain {
}
.SubscribeText {
    display: flex;
    justify-content: space-between;
    padding: 5vh 1vw;
}

cartProductQuantity {
    display: flex;
    align-items: center;
}
.notifymebtn {
    width: 100%;
    border: #4c4294;
    font-size: 18px;
    border-radius: 20px;
    background-color: #4c4294;
    color: white;
    font-weight: bolder !important;
    transition: all 0.5s;
}
.notifymebtn:hover {
    border-radius: 50%;
}
.AsSeenandImgLayer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.inner-end-div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.AsSeenLayer {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}
.AsSeentext {
    font-family: rocgrotesk-light;
    font-size: 15px;
}
.LayerImage {
    width: 8vw;
}
.layerImg {
    width: 100%;
}
.collapsebutton {
    transform: rotate(45deg) !important;
    transition: all 500ms ease-in !important;
}
.Collapseborder {
    background-color: #4c4294 !important;
    color: white !important;
    border: 3px solid #4c4294;
    border-radius: 30px;
    transition: all 0.5s;
}
.Collapseborder2 {
    background-color: white !important;
    color: #4c4294 !important;
    border: 3px solid #4c4294;
    border-radius: 30px;
}
.Collapseborder:hover {
    background-color: white !important;
    color: #4c4294 !important;
}
.linkTitle-content {
    color: #4c4294;
    text-decoration: none;
}
/* Icons Section */
.ViewProductIconsSection {
    background-color: #f5d0ba;
    color: #4c4294;
}
.VPIconsbox {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.VPIcon {
    width: 104px !important;
}
.vpiconsimge {
    transition: all 0.5s;
}
.vpiconsimge:hover {
    transform: rotate(360deg);
}
.addtocart {
    margin-top: 0.3rem;
    width: 75%;
}
.addtocartbtn {
    width: 100%;
    border: 3px solid #4c4294;
    background-color: #4c4294;
    color: white;
    padding: 10px 0;
    border-radius: 20px;
    transition: all 0.4s;
}
.addtocartbtn:hover {
    border-radius: 50%;
}

/* Product-Hero-Section */
.Product-Hero-Section {
    width: 100%;
    color: #e2c7d6;
}
.ProductHeroMain {
    width: 100%;
    height: 100%;
    display: flex;
}
.ProductHero-left {
    width: 50%;
    height: 100%;
}
.Product-hero-img {
    width: 100%;
    height: 100%;
}
.ProductHero-right {
    width: 50%;
    background-color: #412f59;
}
.PH-header {
    font-size: 8vw;
    font-family: Snacksgifheaderfont;
    line-height: 14vh;
}
.PH-content {
    width: 25rem;
    margin: 0 auto;
}
.PH-main {
    margin-top: 8vh;
}
.PH-sub-header {
    font-size: 1.6vw;
    font-family: bannerhomebtn !important;
}
.PH-sub-content {
    font-weight: 700;
    font-size: 1.2vw;
    font-family: bannerhomebtn;
}

/* ------------------------- */
/* .view-product-inner-container {
    position: relative;
    top: 2.5rem;
    background-color: #16bfbf;
} */

@media (max-width: 1000px) {
    .vpslider-logo {
        display: none !important;
    }
    .VPRight {
        margin: auto;
        width: 90%;
    }
    .LayerImage {
        width: 10vw;
    }
    .VPIconsbox {
        width: 100%;
        justify-content: center;
        margin: auto;
    }
    .VPIcon-main {
        padding: 15rem 15vw;
    }
    .VPIcon-content {
        width: 10vw;
    }
}
@media (max-width: 990px) {
    .ProductHeroMain {
        flex-direction: column;
    }
    .ProductHero-left {
        width: 100%;
    }
    .ProductHero-right {
        width: 100%;
    }
    .PH-header {
        font-size: 10vw;
    }
    .PH-sub-header {
        font-size: 2vw;
    }
    .PH-sub-content {
        font-weight: 700;
        font-size: 1.5vw;
    }
}
@media ((min-width: 500px) and (max-width:770px)) {
    .AsSeenLayer {
        width: 60%;
    }
    .LayerImage {
        width: 15vw;
    }
    .VPIconsbox {
        width: 100%;
    }
    .VPIcon-main {
        padding: 5rem 10vw;
    }
}
@media (max-width: 500px) {
    .AsSeenLayer {
        width: 80%;
    }
    .LayerImage {
        width: 25vw;
    }
    .VPIconsbox {
        width: 100%;
    }
    .VPIcon-main {
        padding: 5rem 8vw;
    }
}
