.AccountsHeading{
    color: #4c4294!important;
    font-size: 9rem;
    line-height: 127px;
    margin: 100px auto!important;
    text-transform: uppercase;
    font-family: bannerheaderfont!important; 
}