.AccountsHeading {
    color: #4c4294 !important;
    font-size: 9rem;
    text-transform: uppercase;
    font-family: bannerheaderfont;
}
.subheader-content {
    color: #4c4294;
    font-family: bannerhomebtn;
    font-size: 15px;
}
