.main-primary-pro{
    max-width: 1320px !important;
    width: 100%;
    margin: 0 auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-container{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.heading{
    font-family: "Olly-extrabold";
    font-size: 28px;
}
.desc{
    font-family: "Olly-thin";
    font-size: 15px;
    font-weight: 0;
    color: #4c4294!important;
    margin-top: -15px;
    font-weight: 900;
}

