.OneFeeds-section{
    margin-top: 80px!important;
    width: 100%;
    height: 100%;
    background-color: #c6e3ee;
}
.cta-image{
    background-image: url('./images/cta-shape.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.ctamain{
    display: flex;
}
.ctaleft{
    width: 45%;
}
.cta-text{
    margin-top: 80px!important;
    margin-left: 20px;
    font-size: 4vw;
    color: #412f59;
    font-weight: 800;
    line-height: 3.5vw;
    letter-spacing: .27px;
}
.cta-btn{
    margin: 20px 20px!important;
}
.ctabutton{
    font-size: 18px!important;
    color: #412f59 ;
    text-decoration: none;
    font-weight: 800;
}
.ctaright{
    width: 50%;
}
.ctaimages{
    margin-left: 54px!important;
    margin-top: 30px!important;
    width: 90%;
}
@media(max-width:770px){
    .OneFeeds-section{
        display: none;
    }
}